spring:
  datasource:
#    url: jdbc:h2:mem:mockdb
    url: jdbc:h2:file:./testdb;DB_CLOSE_ON_EXIT=FALSE;AUTO_RECONNECT=TRUE
    username: sa
    password: ""
    driver-class-name: org.h2.Driver
  h2:
    console:
      enabled: true
  jpa:
    hibernate:
      ddl-auto: update
  thymeleaf:
    cache: false
    prefix: file:src/main/resources/templates/  #directly serve from src folder instead of target
  resources:
    static-locations: file:src/main/resources/static/ #directly serve from src folder instead of target cache:
    cache:
      period: 0
