#category-img {
    width: 100px;
    height: 100px;
    background-color: transparent;
}

#category-name {
    font-weight: bolder;
    font-size: x-large;
    vertical-align: middle;
    font-stretch: ultra-expanded;
}

#product-name {
    font-size: large;
    font-style: italic;
}


.clickable {
    height: 50px;
    background: white;
    transition: background-color 200ms;
}

.clickable:hover {
    background: lightgray;
}

.box {
    float: left;
    width: 33.33%;
    padding: 50px;
}

.bar {
    display: flex;
    justify-content: flex-end;
    background: deepskyblue;
}

.notify-badge {
    position: absolute;
    right: -20px;
    top: 10px;
    background: red;
    text-align: center;
    border-radius: 30px 30px 30px 30px;
    color: white;
    padding: 5px 10px;
    font-size: 20px;
}

.list-menu {
    list-style-type: none;
    display: inline;
}

.list-item {
    color: white;
    font-size: x-large;
    margin-left: 10px;
}

.ico {
    width: 20px;
    height: 20px;
    background: transparent;
    cursor: pointer;
}

.ico-sm {
    width: 10px;
    height: 10px;
    background: transparent;
    cursor: pointer;
}

.ico-bg {
    width: 40px;
    height: 40px;
    background: transparent;
    cursor: pointer;
}

.link:hover {
    text-decoration: aqua;
}
