<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/stylesheets.css">
    <title>Category products</title>
    <script>
        function clickButton(buttonId) {
            document.getElementById(buttonId).click()
        }
    </script>
</head>
<body>
<div th:replace="fragments :: header"></div>
<h1 th:text="${category}+':'"></h1>
<table class="table">
    <tr class="clickable" th:each="product : ${products}">
        <td sec:authorize="hasRole('ADMIN')">
            <a th:href="@{/product/{id}/edit(id=${product.getId()})}" title="edit">
                <img class="ico" style="margin-left: 10px;"
                     src="https://image.flaticon.com/icons/png/512/84/84380.png"/>
            </a>
            <a th:href="@{/product/{cat}/{id}/delete(id=${product.getId()},cat=${cat.id})}" title="delete">
                <img class="ico" style="margin-left: 10px;"
                     src="https://cdn1.iconfinder.com/data/icons/ios-and-android-line-set-2/52/delete__remove__trash__dustbin-512.png"/>
            </a>
        </td>
        <td id="product-name" style="width: 15%" th:onclick="'clickButton('+${product.id}+')'">
            <a th:id="${product.id}" th:text="${product.getName()}"
               th:href="@{/product/{productId}(productId=${product.getId()})}"></a>
        </td>
        <td th:text="${product.getDescription()}" th:onclick="'clickButton('+${product.id}+')'"></td>
        <td style="width: 10%" th:text="${product.getPrice()}+'$'" th:onclick="'clickButton('+${product.id}+')'"></td>
    </tr>
    <tr sec:authorize="hasRole('ADMIN')">
        <td colspan="4">
            <a style="cursor: pointer;" class="link" href="/product/create">
                <div style="display: flex;align-items: center" class="btn btn-secondary">
                    <svg style="margin-left: 40px;margin-right: 15px;" xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-plus-square" viewBox="0 0 16 16">
                        <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                        <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                    </svg>
                    <span class="" style="font-size: xx-large;">Add new Product</span>
                </div>
            </a>
        </td>
    </tr>
</table>
</body>
</html>
