<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/stylesheets.css">
    <title>Category products</title>
    <script>
        function clickButton(buttonId) {
            document.getElementById(buttonId).click()
        }
    </script>
</head>
<body>
<div th:replace="fragments :: header"></div>
<h1 th:text="${category}+':'"></h1>
<table class="table">
    <tr class="clickable" th:each="product : ${products}">
        <td sec:authorize="hasRole('ADMIN')">
            <a th:href="@{/product/{id}/edit(id=${product.getId()})}" title="edit">
                <img class="ico" style="margin-left: 10px;"
                     src="https://image.flaticon.com/icons/png/512/84/84380.png"/>
            </a>
            <a th:href="@{/product/{cat}/{id}/delete(id=${product.getId()},cat=${cat.id})}" title="delete">
                <img class="ico" style="margin-left: 10px;"
                     src="https://cdn1.iconfinder.com/data/icons/ios-and-android-line-set-2/52/delete__remove__trash__dustbin-512.png"/>
            </a>
        </td>
        <td id="product-name" style="width: 15%" th:onclick="'clickButton('+${product.id}+')'">
            <a th:id="${product.id}" th:text="${product.getName()}"
               th:href="@{/product/{productId}(productId=${product.getId()})}"></a>
        </td>
        <td th:text="${product.getDescription()}" th:onclick="'clickButton('+${product.id}+')'"></td>
        <td style="width: 10%" th:text="${product.getPrice()}+'$'" th:onclick="'clickButton('+${product.id}+')'"></td>
    </tr>
    <tr sec:authorize="hasRole('ADMIN')">
        <td colspan="4">
            <a style="cursor: pointer;" class="link" href="/product/create">
                <div style="display: flex;align-items: center" class="btn btn-secondary">
                    <img style="margin-left: 50px;margin-right: 15px;padding-bottom: 4px;height: 30px;width: 30px;opacity: 0.6"
                         src="https://image.flaticon.com/icons/svg/32/32339.svg"
                         class="ico-bg"
                         aria-hidden="true">
                    <span class="" style="font-size: xx-large;">Add new Product</span>
                </div>
            </a>
        </td>
    </tr>
</table>
</body>
</html>
