<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>Fragments</title>
    <link rel="stylesheet" href="/css/stylesheets.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <style>
    </style>
</head>
<body>
<div class="navbar" th:fragment="header" style="background-color: darkslategray">
    <ul class="nav navbar-nav list-menu">
        <a href="/" class="list-item btn">Home</a>
        <a href="/login" class="list-item btn">Login</a>
        <a href="/logout" class="list-item btn">Logout</a>
        <a href="/register" class="list-item btn">Register</a>
        <a href="/about" class="list-item btn">About</a>
    </ul>
    <ul class="nav navbar-nav navbar-right list-menu">
        <a sec:authorize="isAuthenticated()" style="display: inline" id="profileLink">
            <span th:text="'Welcome, '+${#authentication.getPrincipal().getUsername()}"
                  class="list-item"></span>
            <img th:src="@{~/images/profile.svg}"
                 style="width: 24px;height: 24px;margin-right: 40px;margin-left: 10px;border-radius: 20px;margin-bottom: 5px">
        </a>
        <a id="cartLink" class="list-item" href="/cart/content">
            <span class="badge badge-light badge-pill" style="margin-left: 10px" id="cart-size">0</span>
            <img th:src="@{~/images/cart.svg}" style="width: 24px;height: 24px;">
        </a>
    </ul>
    <script>
        function updateCartSize() {
            const http = new XMLHttpRequest()
            const url = window.location.origin + '/cart/size'
            http.open("GET", url)
            http.send()
            http.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {
                    document.getElementById("cart-size").innerHTML = http.responseText
                }
            }
        }

        updateCartSize()
    </script>
</div>
</body>
</html>
