<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/stylesheets.css">
    <title>Product Page</title>
    <style>
        #price-tag {
            flex-grow: 2;
            text-align: center;
            font-size: x-large;
        }
    </style>
    <script th:inline="javascript">
        function addToCart() {
            const http = new XMLHttpRequest()
            const url = window.location.origin + '/cart/add/' + '[[${product.getId()}]]'
            http.open("POST", url)
            http.send()
            http.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {
                    updateCartSize()
                }
            }
            alert("Successfully added to cart")
        }

        function clickLink(linkId) {
            document.getElementById(linkId).click()
        }
    </script>
</head>
<body>
<div th:replace="fragments :: header"></div>
<div style="margin: 20px 20px">
    <div sec:authorize="hasRole('ADMIN')" style="display: flex;justify-content: flex-end;margin-bottom: 10px">
        <div onclick="clickLink('edit-link')" style="width: 80px;height: 30px;display: flex;align-items: center"
             class="btn btn-secondary">
            <span style="color: black">Edit</span>
            <a id="edit-link" th:href="@{/product/{productId}/edit(productId=${product.getId()})}">
                <img class="ico" style="margin-left: 10px;"
                     src="https://image.flaticon.com/icons/png/512/84/84380.png"/>
            </a>
        </div>
    </div>
    <input onclick="addToCart()" type="button" class="btn btn-primary" value="Add to cart"
           style="float: right;width: 15%">
    <h1 th:text="${product.getName()}"></h1>
    <div id="price-tag" th:text="'Price: '+${product.getPrice()}+'$'" style="text-align: left"></div>
    <div th:text="${product.getDescription()}" style="font-size: large;margin-top: 15px"></div>
    <br>
    <ul th:each="property : ${product.getProperties()}">
        <li th:text="${property}"></li>
    </ul>

    <hr/>

    <h3>Product reviews:</h3>
    <ul th:each="review : ${product.getReviews()}">
        <li style="border: darkgrey">
            <div th:text="'Author: '+${review.author}"></div>
            <div th:text="'Rating: '+${review.rating}+'/10'"></div>
            <div th:text="${review.content}"></div>
        </li>
    </ul>
    <form sec:authorize="isAuthenticated()" th:object="${reviewDto}"
          th:action="@{/product/review/{productId}(productId=${product.getId()})}" method="post"
          style="font-size: larger;margin-top: 40px">
        <div th:text="'Author: '+${#authentication.getPrincipal().getUsername()}" th:field="*{author}"></div>
        <div style="display: flex;align-items: baseline;align-content: space-around">
            <label style="margin-right: 5px">Rating: </label>
            <input th:field="*{rating}" maxlength="2" class="form-control" type="text"
                   th:errorclass="border-danger"
                   style="width: 30px;height: 25px;text-align: center;padding: 0px"><span
                style="margin-left: 5px">/10</span>
        </div>
        <textarea class="form-control" style="height: 80px" th:errorclass="border-danger"
                  th:field="*{content}"></textarea>
        <button type="submit" class="btn btn-primary" style="margin-top: 20px">Submit review</button>
    </form>
</div>
</body>
</html>
