<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/stylesheets.css">
    <title>Profile</title>
</head>
<body>
<div th:replace="fragments :: header"></div>
<div th:if="${showMessage}">
    <div class="alert alert-success" th:text="${message}"></div>
</div>
<h1 th:text="${#authentication.getPrincipal().getUsername()}"></h1>

</body>
</html>
