<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/stylesheets.css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <title>Profile</title>
    <style>
        #profilePic {
            max-width: 256px;
            max-height: 256px;
        }

        #user-info-form {
            width: 50%;
            text-align: center;
            min-width: 400px;
        }

        #form-table {
            width: 70%;
            min-width: 400px;
            margin-left: auto;
            margin-right: auto;
        }

        #form-table tr td {
            text-align: left;
            white-space: nowrap;
        }

        #form-table tr td:first-of-type {
            width: 200px;
        }

        .clickable-card {
            transition: 0.4s;
        }

        .clickable-card:hover {
            cursor: pointer;
            background: lightgray;
        }

    </style>
</head>
<body>
<div th:replace="fragments :: header"></div>
<div th:if="${showMessage}">
    <div class="alert alert-success" th:text="${message}"></div>
</div>
<div style="margin: 20px 20px">
    <div style="display: flex;flex-direction: row;align-items: center;justify-content: space-evenly;flex-wrap: wrap">
        <div style="display: flex;flex-direction: column;align-items: center;">
            <img id="profilePic" th:src="@{|~/user/${@userService.getObligatoryCurrentUser().getId()}/image|}">
            <br>
            <h1 th:text="${#authentication.getPrincipal().getUsername()}"></h1>
        </div>
        <div id="user-info-form">
            <form name="f" th:action="@{/user/update}" method="post" th:object="${userDto}"
                  enctype="multipart/form-data"
                  style="text-align: center;margin-top: 30px;">
                <legend style="margin-bottom: 30px">User credentials:</legend>
                <table id="form-table">
                    <tr>
                        <td><span class="field-label">Name:</span></td>
                        <td><input th:errorclass="border-danger" placeholder="Your name" th:field="*{name}" type="text"
                                   class="form-control"></td>
                    </tr>
                    <tr>
                        <td><span class="field-label">Surname:</span></td>
                        <td><input th:errorclass="border-danger" placeholder="Your surname" th:field="*{surname}"
                                   type="text"
                                   class="form-control"></td>
                    </tr>
                    <tr>
                        <td><span class="field-label">Email:</span></td>
                        <td><input th:errorclass="border-danger" placeholder="Personal email" th:field="*{email}"
                                   type="text"
                                   class="form-control"></td>
                    </tr>
                    <tr>
                        <td><span class="field-label">Bank Account Number:</span>
                        </td>
                        <td><input th:errorclass="border-danger" placeholder="IBAN" th:field="*{bankAccount}"
                                   type="text" class="form-control">
                        </td>
                    </tr>
                    <tr>
                        <td><span class="field-label">Phone number:</span></td>
                        <td><input th:errorclass="border-danger" placeholder="Phone number" th:field="*{phoneNumber}"
                                   type="text" class="form-control"></td>
                    </tr>
                    <tr>
                        <td><span class="field-label">Address:</span></td>
                        <td><input th:errorclass="border-danger" placeholder="Delivery address" th:field="*{address}"
                                   type="text" class="form-control"></td>
                    </tr>
                </table>
                <div class="form-actions" style="margin-top: 20px">
                    <button style="width: 50%" type="submit" class="btn btn-primary btn-lg">Save</button>
                </div>
            </form>
        </div>
    </div>
    <br>
    <div class="border" style="display: flex;flex-direction: column;margin: 20px 20px">
        <div class="card-header">
            <h2 style="margin: 20px 20px">User Orders:</h2>
        </div>
        <div id="collapsible">
            <th:block th:if="${!orders.isEmpty()}" th:each="order,iter : ${orders}">
                <div th:onclick="@{|document.getElementById('toggle-btn-${iter.index}').click()|}"
                     class="card-header clickable-card" style="cursor: pointer"
                     th:id="'heading'+${iter.index}">
                    <h5 class="mb-0">
                        <button th:id="'toggle-btn-'+${iter.index}" class="btn btn-link collapsed"
                                data-toggle="collapse"
                                th:data-target="'#collapse'+${iter.index}"
                                aria-expanded="false" th:aria-controls="'collapse'+${iter.index}">
                            <div th:text="'Order #'+${order.getId()}"></div>
                        </button>
                        <div class="blockquote-footer font-italic" th:text="' '+${order.getStatus().getStatus()}"
                             style="display: inline"></div>
                        <div style="float: right"
                             th:text="'Sum: ' + ${#aggregates.sum(order.getPurchasedProducts().![price])+'$'}"></div>
                    </h5>
                </div>

                <div th:id="'collapse'+${iter.index}" class="collapse" th:aria-labelledby="'heading'+${iter.index}"
                     data-parent="#accordion">
                    <div class="card-body">
                        <table class="table">
                            <tr th:each="product : ${order.getPurchasedProducts()}">
                                <td id="product-name" style="width: 15%"><a th:text="${product.getName()}"></a></td>
                                <td th:text="${product.getDescription()}"></td>
                                <td style="width: 10%" th:text="${product.getPrice()}+'$'"></td>
                            </tr>
                        </table>
                        <a th:if="${order.getStatus().getStatus() != 'Cancelled'}" th:href="@{/order/{id}/cancel(id=${order.getId()})}" title="delete">
                            <button style="min-width: 150px" type="submit" class="btn btn-outline-danger btn-lg">
                                <svg style="margin-bottom:3px;margin-right:6px" xmlns="http://www.w3.org/2000/svg"
                                     width="16" height="16" fill="currentColor" class="bi bi-trash-fill"
                                     viewBox="0 0 16 16">
                                    <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"></path>
                                </svg>
                                Cancel
                            </button>
                        </a>
                    </div>
                </div>
            </th:block>
            <div style="text-align: center;font-size: large" th:unless="${!orders.isEmpty()}"
                 class="card-header text-secondary">No Pending Orders
            </div>
        </div>
    </div>
</div>
</body>
</html>
